# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - myspapi

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://mynodeapicontainerregistry.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_386d00e8c67d4b08acb5274eca65b0e9 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_5b55d1b08924415db6ea426ee741286d }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: mynodeapicontainerregistry.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_386d00e8c67d4b08acb5274eca65b0e9 }}/myapi:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'myspapi'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_099f9b97b87c4ca4a58ef55207e0d692 }}
        images: 'mynodeapicontainerregistry.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_386d00e8c67d4b08acb5274eca65b0e9 }}/myapi:${{ github.sha }}'